<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}" >

  <h4 [ngStyle]="{color: getColor()}" >{{appareilName}} - {{appareilStatus}}</h4>
  <input type="text" [(ngModel)]="appareilName">
  <button class="btn btn-success"
          *ngIf="appareilStatus === 'éteint'"
          (click)="onSwitch()">Allumer</button>
  <button class="btn btn-danger"
          *ngIf="appareilStatus === 'allumé'"
          (click)="onSwitch()">Eteindre</button>

</li>
